[2014-10-08 07:44] subesokun opened #3 "Make jspm-git compatible with Git version < v1.7.10"
Make jspm-git compatible with Git version < v1.7.10

[2014-10-10 11:09] #3 closed, assigned to subesokun

[2014-10-24 12:13] subesokun opened #5 "Fix version handling in lookup function to distinguish between tags and branches"
In the latest jspm-cli the branch versions can be now indicated by starting with a `#` e.g. `#master` or `#1.0.0` in case of a version branch.

[2014-10-24 12:26] #5 closed, assigned to subesokun

[2014-10-25 17:06] subesokun opened #6 "Publish jspm-git v0.2.2 on npm"
@tauren Would be great if you could publish v0.2.2 on npm :)

[2014-10-27 21:20] trusktr opened #7 "How do you use this locally?"
How do I use jspm-git in my local project without installing it globally?

EDIT: Maybe this is better asked in jspm-cli. I'll close this one.

[2014-10-27 21:25] #7 closed, assigned to nobody

[2014-11-06 07:08] #6 closed, assigned to tauren

[2014-11-28 15:32] subesokun opened #8 "Make jspm-git compatible to the jspm 0.9.0 Endpoint API"

[2014-11-28 18:21] subesokun opened #9 "Release jspm-git v0.3.0-beta.1"
Hi @tauren :) Could you please release jspm-git v0.3.0-beta.1 to make it installable via `npm install -g jspm-git@beta`? It's required by the `jspm@0.9.0-beta.2`. Thanks a lot!

[2014-11-30 13:31] subesokun opened #10 "Add Endpoint API version verification to jspm-git"
This shall ensure that a compatible version of jspm is installed on the machine. If not a prominent error shall be thrown.

See following discussion https://github.com/jspm/jspm-cli/issues/288

[2014-11-30 15:56] #10 closed, assigned to subesokun

[2014-11-30 22:33] #9 closed, assigned to tauren

[2014-12-01 07:48] #8 closed, assigned to subesokun

[2015-01-12 17:14] subesokun opened #11 "Add ´git´ detection for useful failure feedback"
Add `git` detection as described here https://github.com/jspm/github/issues/24 to provide useful failure feedback to the user in case `git` is not installed on the machine.

Maybe we can combine the `git` detection with the `git version` validation.

[2015-01-22 05:39] speigg opened #12 "Error when trying to install a github enterprise repo"
[code]

[2015-01-22 08:17] subesokun commented on #12
Hi @speigg, do you get any error when trying to clone the repository directly via git?
[code]
Where `$BASEURL` is the URL you've defined in your endpoint configuration (`~/.jspm/config`).

[2015-01-22 18:17] speigg commented on #12
Almost. This works:
[code]
But this does not:
[code]
The problem seems to be the `--depth 1` option, which causes the process to get stuck at "Cloning into 'repo'...". No idea why this would happen.

[2015-01-22 18:25] speigg commented on #12
Everything works without the `--depth 1` option, I just tested in my fork of jspm-git... works great!!

[2015-01-22 21:18] subesokun commented on #12
Thank you very much for offering a patch for your issue! Glad to hear that this solved your issue. Really strange that git clone fails for your repository when using the `--depth` argument. Which version of Git are you using (and on which system)? Maybe this error could be also related to the Git repository itself, not sure.

Back then I've explicitly added `--depth` to speed up cloning in case of

[2015-01-23 02:12] speigg commented on #12
[code]

Running on Mac OS X Mavericks

[2015-01-23 02:24] speigg commented on #12
A configuration option works too. It looks like I'm not the only one who has had this issue:

https://github.com/gogits/gogs/issues/236
https://github.com/jakubgarfield/Bonobo-Git-Server/issues/84

But apparently it's a problem with the git server that affects cloning over http(s):
https://github.com/CocoaPods/CocoaPods/issues/2481#issuecomment-57420352

Someone suggested that using `git` instead

[2015-01-23 03:05] speigg commented on #12
I couldn't get it to work with `git://` at all, so for now I have to clone without the `--depth 1` parameter.  Can you make the `--depth 1` option opt-in rather than opt-out?

[2015-01-23 10:01] subesokun commented on #12
Thanks a lot for your investigations! So it seems to be an issue with cloning via http(s) from the Github enterprise server. Have you tried already to [clone via 'ssh://' from Github enterprise](https://help.github.com/enterprise/11.10.340/user/articles/which-remote-url-should-i-use/)? Maybe in that case `--depth` will work.

If this git clone issue via http(s) would be a general issue of the Git

[2015-01-23 15:28] speigg commented on #12
I haven't be abel to clone with `ssh://` either. I suppose you are right that opt-out is definitely better then, considering the huge difference for some repositories.

[2015-01-23 15:30] subesokun commented on #12
Is it asking you for a password when cloning via `ssh://`? If so you might need to check if you've uploaded your `id_rsa.pub` key onto you Github Enterprise account. Otherwise it won't authenticate your session.

[2015-01-23 15:37] speigg commented on #12
No, it just times out: can't connect to port 22. I don't think we have ssh setup for our Github Enterprise server. Not sure if its a general issue with Github Enterprise or just ours.

[2015-01-23 15:46] subesokun commented on #12
I see, yes that could be possible that you explicitly have to activate the ssh support or maybe some port forwarding is missing. I hope that I can close this bug this weekend.

[2015-01-25 09:15] #11 closed

[2015-01-25 12:55] #12 closed

[2015-02-21 17:12] subesokun opened #14 "Support bower.json main as fallback"
See https://github.com/jspm/github/issues/21

[2015-02-25 06:16] devmondo opened #15 "Support scp-like syntax for the SSH protocol"
hi,

i have done this
[code]
 and config result is
[code]

this gives me error
 Endpoint not found.

but if i change endpoint name to "gitlab"  it works

another thing is that with above i may have different account like code.backery, devmondo so if i set base url to "git@gitlab.com" it does not work, it must specifically add the account name as above

thanks in advanced.

[2015-02-25 09:15] subesokun commented on #15
Hi @devmondo,

thank you very much for reporting this. As I don't have an account at gitlab.com I can't really test the configuration but I think something goes wrong internally when joining the baseurl with the repo name.

As a quick workaround you could test the following

[code]

If that works for you please set the baseurl of the endpoint to `ssh://git@gitlab.com` and then try installing your

[2015-02-25 11:10] devmondo commented on #15
thanks a lot mate for reply the ssh://git@gitlab.com worked fine and now i don't have to hard code user account, but still the name part is not working it has to be gitlab.

here is gitlab url format for any repo
[code]
i think somewhere in your code you are hard coding the name and preppend it to the url, or it is jspm bug ?

[2015-02-25 11:17] subesokun commented on #15
Which name part are you meaning explicitly? In the [git.js#L32](https://github.com/Orbs/jspm-git/blob/7da4d6aa81798f2d2818357533841d54a8d2ab8b/git.js#L32) you can see how the URL gets created.

[2015-02-25 11:29] devmondo commented on #15
what i mean is this
[code]
this produces
[code]

it does not work and i get this error
[code]
but if i do
[code]
everything works fine

[2015-02-25 11:40] subesokun commented on #15
Mh very stange. I've just tested it with jspm 0.14.0 and everything works as expected. Can you do a `jspm -v` and maybe also show me the content of your `D:\Websites\Tests\skeleton-navigation\config.js`?

[2015-02-25 11:49] subesokun commented on #15
I think I can reproduce now your error. If you write e.g.
[code]
in your `config.js` then calling `jspm install` will throw following error:

[code]

@guybedford Is it possible to make this error a bit more specific so that you can distinguish between a real missing endpoint or if something is off with the configuration?

[2015-02-25 17:36] guybedford commented on #15
Does this help - https://github.com/jspm/jspm-cli/commit/d5c4b52d19fc77e58aa225d33717e6163f126cff?

[2015-02-26 18:22] subesokun commented on #15
@guybedford Thank you for the quick fix! Yes I think that helps. Not sure if this kind of endpoint error happens often as it's only a corner case which you'll only see if you manually modify the `config.js` as mentioned obove.

@devmondo Regarding the baseurl issue, I'll fix the jspm-git URL handling so that it supports also `git@host.com:../..` formatted URLs.

[2015-02-28 20:43] devmondo commented on #15
@subesokun  thank you :)

[2015-03-18 18:20] #14 closed

[2015-03-18 18:33] #15 closed

[2015-03-19 18:41] subesokun commented on #15
@devmondo jspm-git v0.3.2 has been now released which includes the fix for `git@host.com:../..` formatted URLs. Have fun with it :)

[2015-03-22 05:19] devmondo commented on #15
thank you mate :)

[2015-03-28 12:54] frankwallis opened #16 "'endpoint' has been renamed to 'registry' in jspm 0.15.0"
see https://github.com/jspm/jspm-cli/releases/tag/0.15.0

[2015-03-28 13:52] subesokun commented on #16
Hi @frankwallis, luckily this change is not a breaking one so jspm-git still works as expected. As soon as I've time I was planning to update the Wiki etc. to rename everything from `endpoint` to `registry`

[2015-03-28 15:19] frankwallis commented on #16
you're quite right, thanks for updating the readme

[2015-03-28 15:19] #16 closed

[2015-03-29 07:35] subesokun commented on #16
Sure, you're welcome and thanks for supporting jspm-git :) In the next release also the remaining left overs of ´endpoint` will be replaced.

[2015-06-17 08:24] maku opened #18 "configuration for git repository in file system"
I would like to use a simple git repository which is only available on a share network drive (on a windows machine).

It seems not possible to define the baseUrl with e.g. file:///myserver/d$/git_repo
Is there a way to do this??

[2015-06-17 20:17] subesokun commented on #18
Lets assume file:///some/path/repofolder is the path to your Git repo, try setting file:///some/path as baseuri and then run "jspm install myendp:repofolder". Sorry I can test it first on weekend.

[2015-06-17 20:29] subesokun commented on #18
One more thing, the key point is that "git clone file:///..." must work so that it works also with jspm-git as it always tries to clone the repo at the moment. There is no check so far to detect if that repo is already locally cloned.

[2015-06-20 15:30] subesokun commented on #18
@maku Actually it's working for me. You've to make sure that the baseURL is a valid URI according to RFC 3986. If the repo folder is located at e.g. `C:/Users/Subesokun/Documents/GitHub/my-sample-repo` this configuration worked for me
[code]
[code]
As you said your repo is located on a shared network drive please make use that you use `file://myserver` instead of `file:///myserver` as the tripple

[2015-06-25 01:53] ProggerPete opened #19 "jspm global install doesn't work."
I've followed the instructions in the readme to connect to a bitbucket git repo.

First I installed jspm-git globally:

npm install -g jspm-git

Then I created the bitbucket registry

jspm registry create bitbucket jspm-git

Then I went to my jspm project and attempted to do an install.

jspm install bitbucket:accountname/reponame

I get:

err  Error: Cannot find module 'jspm-git'
         at Func

[2015-06-25 08:28] subesokun commented on #19
Hi @ProggerPete, could it be that you've installed jspm locally as well? In that case it won't be possible to require the global jspm-git, it has to be locally installed as well. Following combinations are valid

* global jspm + global jspm-git - OK
* global jspm + local jspm-git - ERROR
* local jspm + local jspm-git - OK
* local jspm + global jspm-git - ERROR

I'll put them also into the README.

[2015-06-25 11:17] ProggerPete commented on #19
Yep, that's it. I do have jspm installed locally for that project.

[2015-06-25 11:17] #19 closed

[2015-08-20 12:30] nordisk opened #20 "Where is the registry stored and how can I remove it?"
Hi.
I installed a local registry in my project. Where can I find the registry and how can I remove it?

[2015-08-21 05:35] subesokun commented on #20
Hi @nordisk :), you can find your jspm-git registry configuration on Linux Systems in your `~/.jspm/config` file and on Windows in your `%LOCALAPPDATA%/.jspm/config` file. Does this answer your question?

[2015-08-21 05:41] nordisk commented on #20
I finally found out myself ^^
Thank you for the great module btw.

[2015-08-21 05:41] #20 closed

[2015-10-04 11:33] subesokun commented on #18
I'm closing this issue for now but if you've further questions please feel free to ask.

[2015-10-04 11:33] #18 closed

[2015-11-13 14:56] mmoss opened #23 "Issue with multiple jspm processes running concurrently"
We're seeing an issue, where when multiple jspm processes are running concurrently, they appear to overwrite/loose the config. I'll investigate and try to file a PR, but here's the current error we're seeing intermittently:

[code]

This appears to happen with any git endpoints, not *just* bitbucket. There's also no stack trace, or any other real info related...

The endpoint was/is setup prior to

[2015-11-13 19:18] subesokun commented on #23
Hi @mmoss, thanks for reporting and investigating! How is your current configuration looking like?

[2015-11-16 04:07] mmoss commented on #23
[code]

[2015-12-14 17:15] sgwatgit commented on #20
@nordisk Since there isn't a command via the API to remove a registry item, could this information above be placed in the README?

[2015-12-15 19:42] subesokun commented on #20
Merged :+1:

[2016-01-12 15:16] jansensan opened #25 "How to install Bower component from Stash repo with JSPM"
This is a question [I asked on StackOverflow](http://stackoverflow.com/questions/34734823/how-to-install-bower-component-from-stash-repo-with-jspm) already, however you may know about this as well.

My client uses Stash to host project repositories. We use a private Bower registry for our private libraries.

In this new project I am building, I am using JSPM. I have used jspm-git to create a stash

[2016-01-12 19:34] subesokun commented on #25
Hi @jansensan! Something seems to be wrong with the "main" property of your bower.json as the error gets thrown here https://github.com/Orbs/jspm-git/blob/master/git.js#L426
How does your bower.json looks like? But indeed the error handling should be improved here to avoid such errors and give a reasonable feedback what went wrong.

[2016-01-12 19:34] jansensan commented on #25
After careful exploration of libraries that worked properly, it turned out to be a missing [`publishConfig`](https://docs.npmjs.com/files/package.json#publishconfig) entry in `package.json`. I added it and it fixed it.

However, I would suggest a more detailed error message, if at all possible. Simply saying "Error on build" leads to misinterpretations: why would JSPM or jspm-git attempt to build?

[2016-01-12 19:38] subesokun commented on #25
Glad to hear that you could solve your problem :) Yes I'll try to improve the error handling to give a better feedback.

[2016-01-12 19:40] jansensan commented on #25
Thanks for taking the time to reply! I will close this issue, as it's not a bug, but an issue related to how the dev used the library :)

[2016-01-12 19:40] #25 closed

[2016-02-04 19:43] nateabele opened #27 "Shell-escape user input"
Hey, thanks a lot for your work on this. I recently installed it and configured Bitbucket per the readme, and got the following error when attempting to `jspm install` a private Bitbucket repo:

[code]

At a guess, I re-ran `jspm registry create bitbucket jspm-git` and wrapped my password in single-quotes, after which installing from Bitbucket worked normally. My password is randomly-generated and

[2016-02-05 11:29] subesokun commented on #27
Hi @nateabele, thanks for reporting the issue! The url that gets generated which includes the credentials is URI encoded but it seems like the Git client still has some problems with it. I'll investigate the error and let you know.

[2016-02-05 15:39] nateabele commented on #27
Yeah, `encodeURIComponent(')') => ')'`, so the characters are URL-safe, but not shell-safe. From the look of the error, `sh` is choking on [the command being passed to `exec()`](https://github.com/Orbs/jspm-git/blob/8eb9809807098c4e0937002e16588094f58edcff/exec-git.js#L83) before `git` itself is even invoked.

I could try writing up a unit test if you want. Where should it go? `test.js`?

[2016-02-05 15:54] subesokun commented on #27
That'd be great if you could write a unit test for it! But sadly the `gulp test` task is currently not in use at all... something that have been already on my todo list for long time :(

[2016-02-07 10:06] #27 closed

[2016-02-07 10:08] subesokun commented on #27
Ok I've included now a fix which solves the issue and I'll prepare soon a release.

[2016-02-07 10:45] subesokun commented on #27
jspm-git v0.4.3 has been released :tada:

[2016-02-20 00:08] chrisjasp opened #28 "Unable to install when registry baseUrl is using https"
I confirmed that I can create a registry and install components from it when using SSH. However, when I set the repository url using https, I can't install components. I walked through and entered the advanced configuration and set credentials with no luck. I even made my repo public to see it that would work and it did not.

[2016-02-20 11:27] subesokun commented on #28
Hi @chrisjasp, thanks for reporting the issue! I'm currently analyzing it.

[2016-02-20 13:05] subesokun commented on #28
I've tested now the latest jspm-git v0.4.3 against a private Gitlab repo and it worked for me. Which error are you getting and which version of jspm-git are you using? Not sure which server hosts your repos but is HTTP Basic Authentication supported there?

[2016-02-20 14:40] chrisjasp commented on #28
I am also at version 0.4.3. My server is using HTTPS and I will check on
the authentication when I am back in the office. My provider is fogcreek
kiln.

On Sat, Feb 20, 2016, 05:05 subesokun <notifications@github.com> wrote:

--

Best Regards,
Chris Jasper

[2016-02-21 07:30] subesokun commented on #28
Btw I've released now v0.4.4 which improves the configuration of the auth. credentials. But it should have no effect on the issue you're observing. To ensure that your credentials are correct please re-run

```jspm registry config yourregname```

[2016-02-22 17:31] chrisjasp commented on #28
I did update to the latest (0.4.4) this morning. I re-ran the registry config and I am still running into the same issue. I will look into my repository hosting service to get more details there.

[2016-02-22 19:08] subesokun commented on #28
To be sure that jspm-git is not the reason why you can't install packages from your repository you can try the following command

[code]

If that works for you then it really sounds like a bug in jspm-git.

[2016-02-22 19:15] chrisjasp commented on #28
I think there is an issue with the fact the the usernames are an email address. Confirming that now.

[2016-03-10 04:48] slahav commented on #23
Hi @mmoss, i just have this happen to me as well:

[code]
were you able to resolve it?

[2016-03-10 21:16] subesokun commented on #23
Sorry to hear that you're also facing this issue. Im not yet sure if it's a bug within jspm-git or jspm itself. I'll try to reproducd it in the next days an let you know when I better understand what's going wrong.

[2016-03-13 10:54] mmoss commented on #23
My project ended up killing our multi-process workflow, so the issue is no longer a blocker for us...

[2016-03-13 17:23] subesokun commented on #23
I wrote now a small bash script that runs two jspm installs in parallel and so far I've noticed some errors when syncing the jspm registries in parallel as well as when running jspm install. But so far it seems that these errors are not specially related to jspm-git.
Which OS are you using? The error that the registry couldn't be loaded I haven't experienced so far.

[2016-03-14 07:08] subesokun commented on #23
Concurrent installations are not yet supported in jspm and there is now an open feature request regarding that.

Moving issue to https://github.com/jspm/jspm-cli/issues/1609

[2016-03-14 07:08] #23 closed

[2016-03-14 07:12] subesokun commented on #28
Sorry for the delay. All credentials are getting url encoded so this shouldn't be an issue. Anyhow I'll try to make a test with a username that contains special characters like an `@`.

[2016-03-15 19:58] chrisjasp commented on #28
Great. I'm curious to hear the results.

[2016-03-27 09:43] ronzeidman opened #29 "jspm-git@beta is trying to resolve a json file for the entire user"
When I installed "bitbucket:" repo the packageConfigPaths has become:
[code]
instead of
[code]

[2016-03-27 17:31] subesokun commented on #29
Hi @ronzeidman, I'll try to analyze this issue as soon as I can. But so far I can say that this config path gets generated by jspm, so I'll try to figure out what has changed there.

[2016-04-05 01:35] unional opened #30 "Beta error: Cannot read property 'log' of undefined"
https://github.com/Orbs/jspm-git/blob/jspm-0.17/git.js#L481

Happens when I try to install package form a intranet bitbucket.

[2016-04-06 07:22] subesokun commented on #30
Hi @unional Which beta version are you using of jspm and jspm-git?

[2016-04-06 08:38] unional commented on #30
jspm: beta-11
jspm-git: beta-3

[2016-04-09 22:06] unional opened #33 "Beta: `files` / `jspm/files` have no effect"
~~Don't know if the non-beta version also have this problem.~~
UPDATE: Confirm it only exists in beta.
At least not on jspm@0.16.26 + jspm-git@0.4.4

I have a package that has the following:
[code]
When I install it, neither have effect and I still get the whole repo under `jspm_package/bit/<mypackage>/`.
(bit is the registry created with `jspm-git`)

[2016-04-10 09:51] subesokun commented on #33
Hi @unional, as jspm-git downloads only the package but the post processing like filtering files is done by jspm you need to report your issue [there](https://github.com/jspm/jspm-cli).

As a small ceveat, using the `files` property will only safe some disc size but it won't make the download faster as first everything gets downloaded and then afterwards jspm removes the unneeded files. So if your

[2016-04-10 09:54] subesokun commented on #33
Oh sorry just saw that you've created already an issue there. Closing this one here in favor of https://github.com/jspm/jspm-cli/issues/1699

[2016-04-10 09:54] #33 closed

[2016-04-10 15:42] subesokun commented on #30
Fixes but will be first released after the other PRs has been merged.

[2016-04-12 17:34] thefabulousdev opened #34 "Bitbucket projects support"
I am unable to install packages living inside a project, meaning the git uri has an extra path such as
`git.something.org/scm/foc/something-validations-phones.git`

Is this supported?

[2016-04-12 18:25] subesokun commented on #34
Hi @thefabulousdev, could you describe in a little more detail your use case? So far I'm not sure if I understood your question correctly. What do you mean exactly by extra path?

[2016-04-13 07:52] nguillaumin opened #35 "Create a Git registry non interactively?"
Hi,

Is there a way to create a registry without being prompted for the base URL? That would be very handy for CI systems, something like:

[code]

Should I report that on the `jspm-cli` project instead?

Thanks,

Nico

[2016-04-13 08:26] nguillaumin commented on #35
Actually that also applies to other interactive settings (advanced config, credentials, etc.)

[2016-04-13 08:32] nguillaumin commented on #35
I came across https://github.com/jspm/jspm-cli/blob/master/docs/registries.md#auto-configuring-registries which does what I want, so I'm closing this.

[2016-04-13 08:32] #35 closed

[2016-04-13 09:17] thefabulousdev commented on #34
[Here](https://github.com/Orbs/jspm-git/blob/master/README.md#bitbucket) it's stated that after adding the custom registry, it should be used as

[code]

However bitbucket has now introduced projects, which add an extra path to a git uri, so ends up being

[code]

is this supported? Perhaps I'm looking in the wrong place

[2016-04-13 10:35] subesokun commented on #35
Hi @nguillaumin, yep that would have been also my answer :)

[2016-04-13 10:42] subesokun commented on #34
As the `projectname/accountname/reponame` string just gets appended to the base URL i.e. `https://bitbucket.org/` there shouldn't be any issue. So the composed URL would be `https://bitbucket.org/projectname/accountname/reponame.git`

[2016-04-13 10:42] thefabulousdev commented on #34
Then it's on me.

Thanks!

[2016-04-13 10:42] #34 closed

[2016-04-13 11:21] nguillaumin commented on #35
Thanks, I had it working before posting here actually, but I got confused by JSPM asking me to setup my GitHub credentials (as I hit the API rate limit), I thought that was `jspm-git` asking me to setup my Git credentials for the registry...

[2016-04-22 12:11] Pleasurazy opened #36 "Install package from mygitlab, dependencies from npm"
Hi, how are you?

Our node.js team has sharing some packages in private gitlab on Intranet.

I am trying reuse their packages with config:

[code]

The sharing packages has dependencies which specified in `package.json` like this:

[code]

Now, if I do `jspm install mygitlab:packages/awesome-tool` will get

[code]

How can I make it lookup to npm?

many thanks

![fe80fb6bb7bd2af0f5dac0992ec28c0ea3

[2016-04-22 21:12] subesokun commented on #36
Hi @Pleasurazy! Just write `bytes: "npm:bytes@^2.3.0"` in your dependencies and it's going to use the npm registry for resolving this package. Btw. dependencies like `git+ssh://git@gitlab.example.com:30022/packages /some-base-tool.git#v0.2.x` won't work with jspm. You'd need to write it as `some-base-tool: "mygitlab:packages/some-base-tool@^0.2.0"` or similar to that depending on how you configure

[2016-04-23 08:57] Pleasurazy commented on #36
hello @subesokun

actually `npm:bytes` and `some-base-tool` is not my dependency directly.

real dependency tree is:
MY_JSPM_WEB_PROJECT <kbd><=</kbd> `mygitlab:awesome-tool` <kbd><=</kbd> (`npm:bytes` <kbd>+</kbd> `ssh//some-base-tool`)

I just trying resolve this problem in various ways. And jspm-git looks graceful.

I try to draw a mock to describe my situation:

![image](https://cloud.githubus

[2016-04-23 12:52] subesokun commented on #36
OK I see. That's a bit tricky situation. If the awesome-tool package depends on native NPM functions i.e. if it requires some native NPM module then you can't use jspm-git. In that case you can install this package only via the jspm-npm. Does this awesome-tool package gets somehow provided in a private npm registry? If so you could install it via jspm-npm by setting the NPM registry globally or lo

[2016-04-23 19:56] Pleasurazy commented on #36
Yes, awesome-tool tool just only plain JS, therefore it can be serve to browser.

I am successful installed using `-o '{"dependencies": {"bytes": "npm:bytes@^2", "debug": "npm:debug@^2", ...etc}}'`

and successful installed if I can control that package:

[code]

however, that is not graceful. I will continue work for graceful solution. thank you for your support. :)

Not provided, since we are di

[2016-04-24 20:55] subesokun commented on #36
A recommendation could be to host your own [jspm registry](https://github.com/jspm/registry) and then upload your custom package override there. This way you don't have to add the jspm configuration to the original package. You can easily clone the jspm registry by cloning it into your private gitlab and then adjust your local registry to point to your cloned registry. I think gitlab is also smart

[2016-04-29 13:08] ben657 opened #37 "Not updating to latest tag"
I'm using jspm-git to access repositories hosted on our visual studio online server.

My package.json has

`"myComponent": "tfsgit:myComponent@^0.0.6"`

which will get the v0.0.6 tag fine, but I've pushed a new tag at v0.0.7, and running `jspm update` just  gives me 0.0.6 again. However if I manually uninstall and reinstall, I'll get 0.0.7 as intended. Any ideas why update wouldn't be working?

[2016-04-29 13:09] ben657 commented on #37
Oh, registry config:
[code]

[2016-05-12 10:58] #37 closed

[2016-05-12 10:58] ben657 commented on #37
My bad, hadn't realised the < major 0 rules.
https://github.com/dominictarr/semver-ftw/issues/2

[2016-05-13 12:47] hmps opened #38 "jspm-git@beta breaks on log"
Trying to convert a project to JSPM 0.17 beta I ran into a problem with jspm-git.

[code]

The issue is that `this.ui` is undefined in `processPackageConfig`:

[code]

`ui` is passed into `GitLocation.configure`, but that method is never called in my case, and `ui` is not assigned to the instance anyway.

A quick way to solve it would be to add `ui` to the `options` object passed into the `GitLoca

[2016-05-13 13:05] subesokun commented on #38
Hi @hmps, the issue has been already fixed (see https://github.com/Orbs/jspm-git/issues/30) but I had no chance yet to make a new release :( Sorry for the troubles. I'll try to release a new `v0.5.0` beta as soon as I find time.

[2016-05-13 13:05] #38 closed

[2016-05-13 13:06] subesokun commented on #30
Reopening this issue until new beta release has been drafted to avoid issue duplications.

[2016-05-13 13:07] subesokun commented on #36
If you've more question please feel free to post them here :) Closing for now.

[2016-05-13 13:07] #36 closed

[2016-05-13 13:20] hmps commented on #38
Oh, I'm sorry for the duplicate @subesokun! Thank you for replying so promptly!

[2016-05-24 21:09] abhipanda opened #39 "Using tag / release version to fetch different versions of same branch?"
Hi,

I have a simple requirement of getting different code versions from a git branch. Is there a way in which we can support tags / releases if that is not yet supported.

something like this ?

jspm install gitlab:user/test.git#tag

Thanks,
Abhi

[2016-05-24 21:15] abhipanda commented on #39
Nevermind - figured out the #ref can be branch or tag

jspm install gitlab:user/test@tag

[2016-05-24 21:15] #39 closed

[2016-05-26 22:41] unional opened #40 "Extra folders with package.json/files"
As I configure:

[code]
When I install the package `jspm i bit:abc` (`bit` is my registry), all folders in the git repo are created:

[code]

Those folders are correctly empty thou.
Also tried
[code]

with same result.

[2016-06-08 18:02] mmilbrath opened #41 "JSPM loader-files issue when using jspm-git"
I'm attempting to establish a mirror of GitHub repositories internally leveraging the jspm-git plugin and everything is working well but ran into an issue when JSPM attempts to download the loader-files I get an error that the .../loader-files/systems directories does not exist.

I believe the issue is that the jspm-git plugin expects the directory to exist but doesn't so blows up.  I could probab

[2016-06-08 20:41] subesokun commented on #41
Hi @mmilbrath, is this a sporadic error or does it always occur? Actually jspm-git is not downloading the loader-files so I'm not exactly sure what's going wrong in your case. As far as I know the loader-files just like the `system.js` are getting directly downloaded via the jspm core, see [here](https://github.com/jspm/jspm-cli/blob/ff46dbcada4236603649344913aa543011dcfbc1/lib/core.js#L303).

Reg

[2016-06-09 12:52] mmilbrath commented on #41
Hi @subesokun.   I'm still tracing through all the logic but suspect it is due to the fact that we are also mirroring the GitHub registry internally and overriding the default repo location of https://github.com/jspm/registry.git with the internal mirror.  A snippet of the relevant sections of config and overriding the jspm repo is included below.

You may be right in the the jspm-git plugin shoul

[2016-06-09 20:40] subesokun commented on #41
Ah ok, you're completely replacing the github registry against jspm-git. Actually I'm positively surprised that this doesn't cause any other issues beside the one you've mentioned :p

The github registry uses some npm tar package for extracting the files which might be creating the missing intermediate folders. As this will be an easy fix and won't add much logic I'll try to get soon a new release

[2016-06-13 11:36] mmilbrath commented on #41
Thanks @subesokun !

[2016-06-21 18:25] subesokun commented on #41
Thanks a log for the PR! Just merged it and release the new version :) Sorry for letting you wait.

[2016-06-21 18:25] #41 closed

[2016-06-23 18:16] gokul11 opened #43 "How to configure and install jspm-git in bitbucket repository?"
I am new in jspm and jspm-git. I followed the below steps to install the jspm package using jspm-git from bitbucket repository.

1. I already installed jspm and jspm-git globally in my machine.

2. I configured the below jspm options in my bitbucket repository's package.json.
[code]
3. I run the below command to install the above private bitbucket repository in a new application.

`jspm install bi

[2016-06-23 22:06] subesokun commented on #43
Hi @gokull11, as jspm-git uses Git to clone your repository you could try if the following works for you

`git clone git+ssh://git@bitbucket.org/my-accountname/my-reponame.git`

If that works for you usually jspm-git should also work in case you've some valid semver tagged commit e.g. `v1.2.3`.

Otherwise you could try to configure jspm-git globally. Honestly I've never tried to store the registry

[2016-06-24 00:47] gokul11 commented on #43
Thanks for the update subesokun.

Where can I store the config settings in my project, config.js?

I have another doubt. If I have a dependency project which is also a private bitbucket repository of mine, then how to setup this to my current cloned project.

I am very new to this repositories and package management, so I couldn't understand the jspm doc.

[2016-06-24 09:43] ajithr opened #44 "Error: conq: repository does not exist."
First I created the bitbucket registry using `jspm registry create bitbucket jspm-git` and provided the base url as **ssh://git@bitbucket.org/**.

Then configured the bitbucket in a folder using `jspm registry config bitbucket`

When I install using `jspm install bitbucket:account/repo.git` it throws the below error.

[code]

I can checkout the same private repository using below command, but can'

[2016-06-24 20:08] subesokun commented on #44
Hi @ajithr, is `jspm install bitbucket:account/repo` working for you? In case of the jspm install command you've to leave the .git suffix away as it will be appended automatically.

[2016-06-25 03:59] ajithr commented on #44
Yep, its working. thanks for the suggestion. :-)

[2016-06-25 03:59] #44 closed

[2016-06-27 12:04] ggrimbert commented on #30
Same problem with JSPM 0.17.0-beta.22

[2016-06-27 16:49] gokul11 commented on #43
Thanks @subesokun. I figured it out about how to configure.

[2016-06-27 16:49] #43 closed

[2016-07-01 17:24] skorlir opened #45 "Newest JSPM and JSPM-git beta installation fails to work correctly."
OS: Ubuntu 16.04 x64
JSPM version: 0.17.0-beta.22
NPM version: 3.8.9
JSPM-git version I tried to install: jspm-git@beta (0.5.0-beta.3)

===

Following the steps in the README, I did:

[code]

The following error occurs:

[code]

[2016-07-02 09:34] subesokun commented on #45
Hi @skorlir, is jspm installed locally in your project? If so then you've to install jspm-git also locally along with jspm. I.e. if jspm is listed as a dependency of your `package.json`, then jspm-git has to be listed too, see https://github.com/Orbs/jspm-git#troubleshooting

Let me know if that helps.

[2016-07-02 09:50] subesokun commented on #40
Hi @unional, sorry to hear that you've still issues with that. Actually it's not really recommended to use the `files` filter. My recommendation would be to create a separate distribution repository that contains just the files that shall be part of your distribution. Generally it's not a good idea to put the `dist` folder under version control in the same repository as the `src` folder. Having th

[2016-07-02 19:07] unional commented on #40
It is a bit different as #33 is about the whole repo remains after install. Now seems like the files are removed but not the folders.

Does npm do the same thing?

[2016-07-03 09:14] subesokun commented on #40
I see, but as the whole processing / filtering of the files is happing within the core of jspm you've to file this issue there as well. jspm-git just downloads the repository and reads out the package.json but the rest is done by jspm itself.

As far as I know yes. It just downloads a tar archive and then in a later step it applies the files filter. But usually you run a `npm publish` within the `

[2016-07-06 02:35] skorlir commented on #45
That was the issue. I did not realize that global jspm + global jspm-git + local jspm, seeing as it contains in it an otherwise "valid" combination, would not work. Perhaps it could be stated on the README, "if you have a local jspm, you must have a local jspm-git, even if you have the two installed globally."

Thanks!

[2016-07-07 00:25] unional opened #46 "Module name not as expected with jspm@0.17.0-beta.18+"
I'm using `jspm-git@beta` for a private bitbucket server. Bitbucket server is organized as `<project>/<repo>` e.g. `myteam/myModule`.

in `jspm@0.17.0-beta.17`, when I install the module with `jspm i bit:myteam/myModule`, it is installed with `myModule` as the name of the module.

But since `jspm@0.18.0-beta.18` and onwards, it is installed as `myteam/myModule`.

[2016-07-13 18:34] skorlir opened #47 "jspm-git bitbucket packageConfigPaths are wrong"
When using jspm 0.17.0-beta.22 and jspm-git@beta, setting up bitbucket as a registry like so:

[code]

Creates an entry in the jspm.config.js packageConfigPaths that looks like `bitbucket:*.json`, but because installing bitbucket repos puts them into folders just like GitHub does (eg, `jspm i bitbucket:my-org/my-lib`), this won't resolve dependencies correctly. You need the packageConfigPaths entr

[2016-07-13 22:45] mcwillso commented on #30
@subesokun any update on this? Can we put only this fix in a 0.5.0-beta.4 release?

[2016-07-15 16:08] subesokun commented on #30
Hi @mcwillso, sorry for the delay. I can't promise it but I'll try to get a release ready by next week.

[2016-07-15 16:09] subesokun commented on #47
@skorlir I'll investigate this issue

[2016-07-15 17:41] unional commented on #46
I can confirm that it is installed as `myModule` for `jspm@0.17.0-beta-17` or prior on new install.

Do you mean it being installed as `myteam/myModule` is expected?
This would make it very cumbersome to use.
For example you have a private github repo: `http://github.mycompany.local`
You set it up through:

[code]

Then you use it as:
[code]
and it is installed as `someone/mymodule`

[2016-07-15 17:48] unional commented on #47
second that. I fixed it manually and forgot to file a PR. This behavior exists pre-0.17.0-beta.17

[2016-07-15 18:07] subesokun commented on #46
Yes if I'm not completely wrong then this is the expected behaviour that has been always like that. If you install modules like `jspm i bit:myteam/myrepo` then you've to reference them as `myteam/myrepo`. Only if you do a `jspm i myrepo=bit:myteam/myrepo` then it'll be aliased. Otherwise what would happen if you do a `jspm i bit:myteam/myrepo bit:otherteam/myrepo`...? Only one of them can get the

[2016-07-20 15:43] pasky opened #48 "ssh:// base URL with port broken"
If we specify base git url ssh://username@hostname:port/ (i.e. with a custom ssh port), git itself handles that just fine, but we are getting errors from jspm-git:

  Error: ssh: Could not resolve hostname HOSTNAME:PORT: nodename nor servname provider, or not known

Any idea what's going on? Thanks!

[2016-07-20 19:10] subesokun commented on #48
Hi @pasky, in my environment I'm using also a custom port so generally there shouldn't be an issue. You said git itself works fine, could you confirm that once more with
[code]
Because jspm-git is actually running this command in a separate child process behind the scenes. Maybe you could show me also your jspm config (~/.jspm/config).

[2016-07-21 16:55] pasky commented on #48
Yes, git clone worked just fine at that time.  But unfortunately I can't get access to the machine where we had this issue for other reasons now, it turns out, so if it's something that's supposed to work, I'll close this issue now, and reopen if we hit the problem again.  Sorry for the noise!

[2016-07-21 16:55] #48 closed

[2016-08-02 20:52] abhipanda commented on #29
Hi @subesokun - did you get a chance to check this?

[2016-08-03 19:44] subesokun commented on #29
@abhipanda, sorry didn't have had a chance yet to investigate this issue. Any help at debugging would be appreciated.

[2016-08-04 17:33] atrauzzi commented on #47
Any progress on this?

[2016-08-04 17:57] unional commented on #47
I didn't have time to look into it. 😞

[2016-08-04 20:02] atrauzzi commented on #47
Does anyone?  Seems like a fairly glaring bug, it basically prevents this from working for anyone who doesn't go digging for this specific ticket.

[2016-08-06 10:15] subesokun commented on #29
closing as duplicate of #47

[2016-08-06 10:15] #29 closed

[2016-08-06 10:16] subesokun commented on #47
Patch has been release via v0.5.0-beta.4, sorry for the troubles.

[2016-08-06 10:16] #47 closed

[2016-08-06 10:17] subesokun commented on #30
Patch has been release via v0.5.0-beta.4 🎉

[2016-08-08 15:54] mcwillso commented on #30
@subesokun This is not working for me. Appears that options.auth and/or options.hostname is undefined and causes the following err(I am printing e.stack):
[code]

File git.js:286
[code]

[2016-08-10 14:03] justinwilaby opened #49 "NPM dependencies in package.json attempted with myGit:<npm dependency name>"
There seems to be a problem with installing npm dependencies that exist within the `package.json` of a project installed using this tool.

`jspm install myGit:owner/project` fails with:

[code]

Where `rollup-plugin-babel` is an NPM dependency listed in the `package.json` of the project within a private git repo.

[2016-08-10 18:10] justinwilaby commented on #49
https://github.com/jspm/jspm-cli/blob/master/lib/package.js#L297 appends the registry (`myGit`) to the dependencies which seems to be the root cause of the failure.

[2016-08-14 15:35] subesokun commented on #49
Hi @justinwilaby, which version of jspm-git are you using? This issue is certainly a tricky one. If no registry is given in the dependencies then jspm will fallback to the registry that has been used to install the parent package. In the jspm-github registry some transformations are getting applied ([see here](https://github.com/jspm/github/blob/0.17/github.js#L499)), but I think that won't solve

[2016-08-14 15:54] subesokun commented on #30
@mcwillso, sorry there as an issue with the netrc dependency. I've removed the netrc feature for now and release a new beta. Could you give it another try?

[2016-08-15 14:42] mcwillso commented on #30
Working now. Thanks @subesokun!

[2016-09-07 05:01] davinkevin opened #50 "Cannot read length of null after upgrading to Git 2.10.0"
Hi,

It seems after upgrading to the current last version of git, the module stop working. It returns an error `can not read length of null` generated by the line 88 of git.js

After analysis, it seems the regex parses only one digit for each part of the version number.
So, the regex currently `/\d.\d.\d/` should take into account Major, minor or patch version upper to 10. To do that, something li

[2016-09-07 18:11] subesokun commented on #50
As mentioned in your PR I'll draft a new release this WE for the beta and the 0.4.x version.

[2016-09-10 07:51] #30 closed

[2016-09-10 08:51] subesokun commented on #50
I've drafted now a new release. Due to some NPM publish mistake with the beta version your bug fixes are now available in the v0.6.0 release (will be installed with a `npm install jspm-git`). The new beta releases will be now v0.7.0-beta.x  (will be installed with a `npm install jspm-git@beta`).

Both the stable and beta version contains your fixes.

[2016-09-10 08:51] #50 closed

[2016-11-13 10:03] tauren commented on #45
@skorlir Any chance you could update the README and submit a PR?

[2016-11-13 10:06] tauren commented on #46
@subesokun closing this issue since it is outside scope of jspm-git. Feel free to reopen if necessary.

[2016-11-13 10:06] #46 closed

[2016-12-07 10:35] pierzakp opened #52 "Git version check fails"
Hi,

In git.js in line 50, were script is checking git version and trying to match it using regular expression is failing on command output like `git version 1.10.1.windows.1`.
It is caused because `versionArr = stdout.match(/\d.\d.\d/);` is expecting single digit.

[2017-01-30 19:38] NikitaPuza commented on #52
Changing `versionArr = stdout.match(/\d.\d.\d/);` to `versionArr = stdout.match(/\d+\.\d+\.\d+/);` fixed the problem for me.

[2017-02-02 14:28] PizzaPete commented on #35
Sorry for commenting on a closed issue and 9 months after the issue was reported.
I'm interested in the fix of @nguillaumin. I'm trying to configure a private repo on CI systems without being prompted of the repo details.

I've read the link to auto-configuring-registries, but I can't make up my mind how to include this in an init script. Can you provide me with an example?

[2017-02-02 19:01] subesokun commented on #35
Hi @PizzaPete, you've once to configure jspm and then you can simply the export command. It will print you then for each config property an import command which you can copy paste 1:1 into you init bash script which you can then share with others who want the same config as you. Does this help?

[2017-02-02 19:02] subesokun commented on #52
Sorry totally forgot about this issue :( Once I find some time in the next week's I'll fix it.

[2017-02-02 19:03] #49 closed

[2017-02-02 21:17] PizzaPete commented on #35
Hey @subesokun,

Thank you for your reply. I didn't knew it was that easy! Didn't get that from the readme. It work's fine now.

[2017-02-13 21:44] webdobe commented on #23
jspm registry create bitbucket jspm-git
# baseurl: https://bitbucket.org/

[2017-06-30 01:34] firelizzard18 opened #56 "Broken with new versions of Node"
See also jspm/github#117.

A recent change in Node (version 8?) means that child_process.execFile will barf if options.timeout is not an integer. Thus, `jspm install` fails on these versions of Node.

[code]

My hack is to patch `exec-git.js` (see the lines with `// HACK`):

[code]

Please fix this ASAP.

[2017-07-02 03:17] subesokun commented on #56
Thanks for reporting the issue. There is already a PR #53 ongoing so I'll close this issue along with it once the PR has been merged.

[2017-07-02 07:45] firelizzard18 commented on #56
Awesome! That's one thing I can remove from my frankensteinian pile of gulp/regex patches.

[2017-07-03 09:09] subesokun commented on #56
Just released v0.6.1, please give it a try.

[2017-07-03 09:09] #56 closed

[2018-02-13 11:32] SeanLS commented on #52
Could you please implement this fix as it starting causing havock for a few people? I am happy to do the fix myself as a contributor should you prefer.

[2018-02-13 19:52] subesokun commented on #52
@SeanLS actually the issue has been already fixed long time ago via 80869f055fb6ad45c86a1ea120713c223731b826  ago but I've missed to close this issue. Which version of jspm-git are you using?

[2018-02-13 19:52] #52 closed

[2018-02-14 15:17] SeanLS commented on #52
@subesokun Thank you very much. I am not sure at the moment regarding version. I will get back to you.